* {
	margin: 0;
	box-sizing: border-box;
	/* background-color: #f5ecea; */
	padding-bottom: 0.0625rem;
}

.app {
	background: linear-gradient(180deg, #fff, #f4eef0 15%, #f4eef0);
	/* height: 100vh; */
}
